<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>NOVA RESERVA</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

</head>
<body>
    <h1>Faça uma nova reserva</h1>
    <form action='/reservas' method='POST'>
        <section>
            <label>Digite seu prontuário: </label>
            <input type="text" id='prontuarioUsuario' placeholder="Prontuário" name='Prontuario'>
        </section>

        <section>
            <h1>Informações da reserva:</h1>

            <label>Sala: </label>
            <input type="text" id='sala' placeholder="Sala" name='Sala'>
            <br/>
            <br/>
            <label>Curso: </label>
            <input type="text" id='curso' placeholder="Curso" name='Curso'>
            <br/>
            <br/>
            <label>Dia: </label>
            <input type="text" id='dia' placeholder="YYYY-MM-DD" name='Dia'>
            <br/>
            <br/>
            <label>Prontuário: </label>
            <input type="text" id='professor' placeholder="JC..." name='Professor'>
            <br/>
            <br/>
            <label>Horário de início: </label>
            <input type="text" id='inicio' placeholder="Horário de início" name='Inicio'>
            <br/>
            <br/>
            <label>Horário de término: </label>
            <input type="text" id='fim' placeholder="Horário de término" name='Fim'>
            <br/>
            <br/>
            <label>Descrição da aula: </label>
            <input type="text" id='descricao' placeholder="Descrição" name='Descricao'>
            <br/>
            <br/>
        </section>
        <button>Enviar</button>
    </form>    
</body>
</html>

<!--

Permite a criação de uma nova reserva, absorvendo
todas as informações necessárias.

-->