<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>EDIÇÃO DE USUÁRIO</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

</head>
<body>
    <h1>Perfil do usuário e edição</h1>
    <form action = "/usuarios/<%=usuario.Prontuario%>?_method=PATCH" method="POST">

        <h1>Informações:</h1>
            <p>
                <ul>
                    <li>Nome</li>
                    <li>Senha</li>
                </ul>
            </p>

        <textarea name="Nome" id='' cols='30' rows='10'><%=usuario.Nome%></textarea>
        <textarea name="Senha" id='' cols='30' rows='10'><%=usuario.Senha%></textarea>

        <!-- Eu poderia colocar um label com input para receber
         as informações de troca? se sim, como? -->
         
        <button>Salvar</button>
    </form>
</body>
</html>

<!--

Esse ejs me permite editar o nome e a senha de qualquer usuário (pelo que entendi).

-->